@tailwind base;
@tailwind components;
@tailwind utilities; 

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@font-face {
  font-family: 'Scintilla';
  src: url('/fonts/Scintilla.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body,html {
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  background-color:#FFFAF1;
  font-family: sans-serif;
  scroll-behavior: smooth;
  @apply min-h-screen bg-[#ffffff] text-[#2E6431] font-sans flex flex-col;
}

img {
  @apply max-w-full h-auto;
}

